body {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.card {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
  flex-grow: 0;

  transition: flex-grow 0.5s ease;
}

.card_body {
  order: 2;

  opacity: 0; /*a11y*/
  height: 0; /*a11y*/
  width: 0;
  transition: all 1s ease-in;
  transition-property: opacity;
  overflow-x: hidden;
  overflow-y: scroll;
}

.card:hover {
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.card:hover .card_number {
  margin-bottom: 20px;
}

.card:hover .card_body {
  opacity: 1;
  height: 100%;
  width: 70%;
}

@media only screen and (min-width: 1360.33px) {
  body {
    margin: 50px;
  }
  .card_body {
    overflow-y: hidden;
  }
}
